<div class="alert">
  <div class="alert__vertical">
    <h1 class="alert__title">Успішність виконання дії</h1>
    <p class="alert__action">{{info}}</p>
  </div>
  {{!-- <button type="submit" url="src/container/product-list/index.hbs" class="alert__button">Повернутись назад</button> --}}
  <a href="/product-list" class="alert__button">Повернутись назад</a>
</div>