<div class="product__card">
    <h2>{{name}}</h2>
    <p>{{description}}</p>
    <span>{{id}}</span>
    <div>
    <span>{{price}}</span>
    <a href="/product-edit" class="product__edit">Редагувати</a>
    </div>
</div>